In [3]:
#import libraries

import pandas as pd

In [4]:
#reference new csv
file="clean_data.csv"
df=pd.read_csv(file)

df=df.drop(columns="Unnamed: 0")

In [5]:
df.head()

,Title,Director,Movie Length (s),Genre,Headlining Actor,Gross,Keywords,Language,Country,Rating,Budget,Release Year,IMDB Score,Director Facebook Likes,Headlining Actor Facebook Likes,Movie Facebook Likes,Cast Facebook Likes
0,Avatar,James Cameron,178.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,760505847.0,avatar|future|marine|native|paraplegic,English,USA,PG-13,237000000.0,2009.0,7.9,0.0,1000.0,33000,4834
1,Pirates of the Caribbean: At World's End,Gore Verbinski,169.0,Action|Adventure|Fantasy,Johnny Depp,309404152.0,goddess|marriage ceremony|marriage proposal|pi...,English,USA,PG-13,300000000.0,2007.0,7.1,563.0,40000.0,0,48350
2,Spectre,Sam Mendes,148.0,Action|Adventure|Thriller,Christoph Waltz,200074175.0,bomb|espionage|sequel|spy|terrorist,English,UK,PG-13,245000000.0,2015.0,6.8,0.0,11000.0,85000,11700
3,The Dark Knight Rises,Christopher Nolan,164.0,Action|Thriller,Tom Hardy,448130642.0,deception|imprisonment|lawlessness|police offi...,English,USA,PG-13,250000000.0,2012.0,8.5,22000.0,27000.0,164000,106759
4,John Carter,Andrew Stanton,132.0,Action|Adventure|Sci-Fi,Daryl Sabara,73058679.0,alien|american civil war|male nipple|mars|prin...,English,USA,PG-13,263700000.0,2012.0,6.6,475.0,640.0,24000,1873

In [6]:
#play

fresh_df=df[["Director", "Title", "Movie Length (s)", "Release Year"]]
fresh_df.head()

,Director,Title,Movie Length (s),Release Year
0,James Cameron,Avatar,178.0,2009.0
1,Gore Verbinski,Pirates of the Caribbean: At World's End,169.0,2007.0
2,Sam Mendes,Spectre,148.0,2015.0
3,Christopher Nolan,The Dark Knight Rises,164.0,2012.0
4,Andrew Stanton,John Carter,132.0,2012.0

In [7]:
fresh_df.set_index("Director").sort_index().head(20)

,Title,Movie Length (s),Release Year
Director,,,
Aaron Schneider,Get Low,100.0,2009.0
Aaron Seltzer,Date Movie,85.0,2006.0
Abel Ferrara,The Funeral,99.0,1996.0
Adam Goldberg,I Love Your Work,111.0,2003.0
Adam Marcus,Jason Goes to Hell: The Final Friday,91.0,1993.0
Adam McKay,Step Brothers,106.0,2008.0
Adam McKay,The Other Guys,116.0,2010.0
Adam McKay,Anchorman: The Legend of Ron Burgundy,98.0,2004.0
Adam McKay,Anchorman 2: The Legend Continues,143.0,2013.0
Adam McKay,The Big Short,130.0,2015.0
Adam McKay,Talladega Nights: The Ballad of Ricky Bobby,122.0,2006.0
Adam Rapp,Winter Passing,98.0,2005.0
Adam Rifkin,Detroit Rock City,95.0,1999.0
Adam Shankman,Bedtime Stories,99.0,2008.0
Adam Shankman,The Wedding Planner,103.0,2001.0
Adam Shankman,Bringing Down the House,105.0,2003.0
Adam Shankman,Hairspray,117.0,2007.0
Adam Shankman,A Walk to Remember,101.0,2002.0
Adam Shankman,Cheaper by the Dozen 2,94.0,2005.0
Adam Shankman,The Pacifier,95.0,2005.0

In [8]:
# fresh_df.sort_values(by=["Release Year"])

#Find directors that appear the most
fresh_df.groupby("Director").count().head(20)

                            Title  Movie Length (s)  Release Year
Director
Aaron Schneider                 1                 1             1
Aaron Seltzer                   1                 1             1
Abel Ferrara                    1                 1             1
Adam Goldberg                   1                 1             1
Adam Marcus                     1                 1             1
Adam McKay                      6                 6             6
Adam Rapp                       1                 1             1
Adam Rifkin                     1                 1             1
Adam Shankman                   8                 8             8
Adrian Lyne                     4                 4             4
Adrienne Shelly                 1                 1             1
Agnieszka Holland               1                 1             1
Agnieszka Wojtowicz-Vosloo      1                 1             1
Aki Kaurismäki                  1                 1             1
Akira Kurosawa                  1                 1             1
Akiva Goldsman                  1                 1             1
Akiva Schaffer                  2                 2             2
Alan Cohn                       1                 1             1
Alan J. Pakula                  2                 2             2
Alan Metter                     1                 1             1

In [9]:
fresh_df = fresh_df.loc[fresh_df.duplicated(subset='Director', keep=False), :]
fresh_df.groupby("Release Year").count().tail(20)

              Director  Title  Movie Length (s)
Release Year
1997.0              84     84                84
1998.0              86     86                86
1999.0             114    114               114
2000.0             120    120               120
2001.0             134    134               134
2002.0             154    154               154
2003.0             114    114               114
2004.0             140    140               140
2005.0             139    139               139
2006.0             140    140               140
2007.0             114    114               114
2008.0             127    127               127
2009.0             134    134               134
2010.0             127    127               127
2011.0             135    135               135
2012.0             106    106               106
2013.0             127    127               127
2014.0             112    112               112
2015.0             100    100               100
2016.0              48     48                48

In [12]:
n=10
fresh_df["Director"].value_counts()[:n].index.tolist()

['Steven Spielberg',
 'Clint Eastwood',
 'Woody Allen',
 'Ridley Scott',
 'Martin Scorsese',
 'Tim Burton',
 'Steven Soderbergh',
 'Renny Harlin',
 'Spike Lee',
 'Robert Zemeckis']

In [13]:
top_10_df=fresh_df[(fresh_df["Director"] =='Steven Spielberg')|(fresh_df["Director"] =='Clint Eastwood')|
                   (fresh_df["Director"] =='Woody Allen')|(fresh_df["Director"] =='Ridley Scott')|
                   (fresh_df["Director"] =='Martin Scorsese')|(fresh_df["Director"] =='Tim Burton')|
                   (fresh_df["Director"] =='Steven Soderbergh')|(fresh_df["Director"] =='Renny Harlin')|
                   (fresh_df["Director"] =='Spike Lee')|(fresh_df["Director"] =='Robert Zemeckis')]

top_10_df

,Director,Title,Movie Length (s),Release Year
21,Ridley Scott,Robin Hood,156.0,2010.0
32,Tim Burton,Alice in Wonderland,108.0,2010.0
53,Steven Spielberg,Indiana Jones and the Kingdom of the Crystal S...,122.0,2008.0
59,Robert Zemeckis,A Christmas Carol,96.0,2009.0
68,Martin Scorsese,Hugo,126.0,2011.0
...,...,...,...,...
3470,Spike Lee,Get on the Bus,120.0,1996.0
3500,Steven Soderbergh,Full Frontal,101.0,2002.0
3581,Steven Soderbergh,"Sex, Lies, and Videotape",100.0,1989.0
3774,Steven Soderbergh,Side Effects,106.0,2013.0
3778,Spike Lee,She's Gotta Have It,88.0,1986.0

In [ ]:
ttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttt