In [305]:
#libraries

import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st

In [306]:
#get data

clean_movie_data_csv = "clean_data.csv"
movie_df = pd.read_csv(clean_movie_data_csv)
movie_df

,Unnamed: 0,Title,Director,Movie Length (s),Genre,Headlining Actor,Gross,Keywords,Language,Country,Rating,Budget,Release Year,IMDB Score,Director Facebook Likes,Headlining Actor Facebook Likes,Movie Facebook Likes,Cast Facebook Likes
0,0,Avatar,James Cameron,178,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,760505847,avatar|future|marine|native|paraplegic,English,USA,PG-13,237000000,2009,7.9,0,1000,33000,4834
1,1,Pirates of the Caribbean: At World's End,Gore Verbinski,169,Action|Adventure|Fantasy,Johnny Depp,309404152,goddess|marriage ceremony|marriage proposal|pi...,English,USA,PG-13,300000000,2007,7.1,563,40000,0,48350
2,2,Spectre,Sam Mendes,148,Action|Adventure|Thriller,Christoph Waltz,200074175,bomb|espionage|sequel|spy|terrorist,English,UK,PG-13,245000000,2015,6.8,0,11000,85000,11700
3,3,The Dark Knight Rises,Christopher Nolan,164,Action|Thriller,Tom Hardy,448130642,deception|imprisonment|lawlessness|police offi...,English,USA,PG-13,250000000,2012,8.5,22000,27000,164000,106759
4,5,John Carter,Andrew Stanton,132,Action|Adventure|Sci-Fi,Daryl Sabara,73058679,alien|american civil war|male nipple|mars|prin...,English,USA,PG-13,263700000,2012,6.6,475,640,24000,1873
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3811,5033,Primer,Shane Carruth,77,Drama|Sci-Fi|Thriller,Shane Carruth,424760,changing the future|independent film|invention...,English,USA,PG-13,7000,2004,7.0,291,291,19000,368
3812,5034,Cavite,Neill Dela Llana,80,Thriller,Ian Gamazon,70071,jihad|mindanao|philippines|security guard|squa...,English,Philippines,Not Rated,7000,2005,6.3,0,0,74,0
3813,5035,El Mariachi,Robert Rodriguez,81,Action|Crime|Drama|Romance|Thriller,Carlos Gallardo,2040920,assassin|death|guitar|gun|mariachi,Spanish,USA,R,7000,1992,6.9,0,121,0,147
3814,5037,Newlyweds,Edward Burns,95,Comedy|Drama,Kerry Bishé,4584,written and directed by cast member,English,USA,Not Rated,9000,2011,6.4,0,296,413,690
3815,5042,My Date with Drew,Jon Gunn,90,Documentary,John August,85222,actress name in title|crush|date|four word tit...,English,USA,PG,1100,2004,6.6,16,86,456,163

In [307]:
# What movie(s) rank highest in score with the lowest budget(s)?(assuming currency is in USD) in each rating bracket

movie_titles = pd.Series(movie_df["Title"])
movie_scores = pd.Series(movie_df["IMDB Score"])
movie_budget = pd.Series(movie_df["Budget"])
# ,movie_df["Budget"],movie_df["IMDB Score"]


movies_budgets_scores = pd.DataFrame(movie_titles)
movies_budgets_scores["IMDB Rating"] = movie_scores
movies_budgets_scores["Budget"] = movie_budget

#movies_budgets_scores.sort_values(by=["IMDB Rating", "Budget"],ascending=[False,False])
movies_budgets_scores_high = pd.DataFrame(movies_budgets_scores[movies_budgets_scores["IMDB Rating"] > 7.9])
movies_budgets_scores_mid = pd.DataFrame(movies_budgets_scores[(movies_budgets_scores["IMDB Rating"] < 8 ) & (movies_budgets_scores["IMDB Rating"] > 4.9 )])
movies_budgets_scores_low = pd.DataFrame(movies_budgets_scores[movies_budgets_scores["IMDB Rating"] < 5])



print(movies_budgets_scores_high["Budget"].min())
print(movies_budgets_scores_mid["Budget"].min())
print(movies_budgets_scores_low["Budget"].min())


movies_budgets_scores_high


#low_budget_high_rating = movies_budgets_scores_high[movies_budgets_scores_high.loc["160000"]]
# 4 and below = bad movies
#7-5 = Good Movies
#10-8 = Great movies

160000
218
100000

                                 Title  IMDB Rating     Budget
3               The Dark Knight Rises           8.5  250000000
16                       The Avengers           8.1  220000000
26         Captain America: Civil War           8.2  250000000
42                        Toy Story 3           8.3  200000000
46         X-Men: Days of Future Past           8.0  200000000
...                                ...          ...        ...
3711             The Other Dream Team           8.4     500000
3731  Monty Python and the Holy Grail           8.3     229575
3748                Nothing But a Man           8.1     160000
3771             A Fistful of Dollars           8.0     200000
3776               Children of Heaven           8.5     180000

[215 rows x 3 columns]

In [308]:
# Bar: Facebook Ratings of most popular movies




movie_fb_likes_df = pd.DataFrame(movie_titles)
movie_fb_likes = movie_df["Movie Facebook Likes"]
movie_fb_likes_df["Facebook Likes Per Movie"] = movie_fb_likes

pop_by_fb_likes = movie_fb_likes_df.sort_values(by=["Facebook Likes Per Movie"], ascending=False)



movie_fb_likes_df
pop_by_fb_likes

                                    Title  Facebook Likes Per Movie
93                          Interstellar                     349000
285                     Django Unchained                     199000
9     Batman v Superman: Dawn of Justice                     197000
124                   Mad Max: Fury Road                     191000
174                         The Revenant                     190000
...                                   ...                       ...
2436                    The November Man                          0
364                           Hollow Man                          0
1382                Nanny McPhee Returns                          0
2433                      Country Strong                          0
2288                       A Simple Plan                          0

[3816 rows x 2 columns]

In [309]:
# Pie Chart:  languages



movie_df["Language"].value_counts()

English       3657
French          34
Spanish         23
Mandarin        15
German          10
Japanese        10
Italian          7
Cantonese        7
Portuguese       5
Hindi            5
Korean           5
Norwegian        4
Persian          3
Danish           3
Thai             3
Dutch            3
Indonesian       2
Aboriginal       2
Dari             2
Hebrew           2
None             1
Aramaic          1
Vietnamese       1
Maya             1
Mongolian        1
Zulu             1
Hungarian        1
Kazakh           1
Bosnian          1
Russian          1
Czech            1
Filipino         1
Arabic           1
Romanian         1
Name: Language, dtype: int64